<li class="studentItem">
  <span>Імʼя: ${student.firstName}</span>
  <span>Фамілія:${student.lastName}</span>
  <span>Рік: ${student.age}</span>
  <span>Факультет: ${student.faculty}</span>
  <span>Курс:  ${student.course}</span>
</li>